#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.background-pattern {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
 
  background-color: #010101;
  /* background-image: radial-gradient(#ffffff33 1px, #020209 1px); */
  background-image:
  linear-gradient(to right, #4f4f4f2e 1px, transparent 1px),
  linear-gradient(to bottom, #4f4f4f2e 1px, transparent 1px);

  background-size: 27px 27px;

  /* mask-image: radial-gradient(ellipse 55% 80% at 50% 0%, #000 70%, transparent 120%); */
  /* -webkit-mask-image: radial-gradient(ellipse 55% 80% at 50% 0%, #000 70%, transparent 120%); */
}

/* .floating-particle {
  position: absolute;
  width: 6px;
  height: 6px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  pointer-events: none;
  animation: floatParticle 8s linear infinite;
}
/*  */
/* Individual particle positions */
/* .particle-0 { top: 10%; left: 10%; animation-delay: 0s; }
.particle-1 { top: 20%; right: 15%; animation-delay: 2s; }
.particle-2 { bottom: 30%; left: 20%; animation-delay: 4s; }
.particle-3 { bottom: 15%; right: 10%; animation-delay: 1s; }
.particle-4 { top: 40%; left: 80%; animation-delay: 3s; }
.particle-5 { top: 70%; left: 5%; animation-delay: 5s; }
.particle-6 { top: 60%; left: 50%; animation-delay: 1.5s; }
.particle-7 { top: 80%; right: 25%; animation-delay: 2.5s; }
.particle-8 { bottom: 25%; left: 70%; animation-delay: 4.5s; }
.particle-9 { top: 15%; right: 40%; animation-delay: 3.5s; } */

/* Floating animation */
/* @keyframes floatParticle {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0.7;
  }
  50% {
    transform: translateY(-50px) scale(1.2);
    opacity: 1;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 0.7;
  }
}  */