#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.background-pattern {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  background-image: radial-gradient(#ffffff33 1px, #020209 1px);
  background-size: 27px 27px;

  mask-image: radial-gradient(ellipse 55% 80% at 50% 0%, #000 70%, transparent 120%);
  -webkit-mask-image: radial-gradient(ellipse 55% 80% at 50% 0%, #000 70%, transparent 120%);
}

